body {
    font-family: monospace;
    background-color: #111;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #000;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

#display {
    font-size: 40px;
    margin: 20px 0;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
}

li {
    background: #222;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}
